@charset "UTF-8";

body {
        background-color: #3e6699;
}

.modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
}

.close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}

.container {
        float: right;
}

.bow {
        color: #FFFFFF;
        font-size: 16pt;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#connectButtonStart {
        background: radial-gradient(circle, #77ef73, #06c100);
        border: 0.01 solid #267223;
        font-size: 12pt;
        font-color: red;
        box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

#connectButton500 {
        background: radial-gradient(circle, #77ef73, #06c100);
        border: 0.01 solid #267223;
        font-size: 12pt;
        font-color: red;
        box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

#connectButton1000 {
        background: radial-gradient(circle, #77ef73, #06c100);
        border: 0.01 solid #267223;
        font-size: 12pt;
        font-color: red;
        box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

#connectButton1500 {
        background: radial-gradient(circle, #77ef73, #06c100);
        border: 0.01 solid #267223;
        font-size: 12pt;
        font-color: red;
        box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

#connectButtonFinish {
        background: radial-gradient(circle, #77ef73, #06c100);
        border: 0.01 solid #267223;
        font-size: 12pt;
        font-color: red;
        box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

#infrontrace_num {
        color: #FFFFFF;
        font-size: 30pt;
        font-weight: bold;
        background-color: transparent;
        border: none;
}

#race_number {
        color: #FFFFFF;
        font-size: 30pt;
        font-weight: bold;
        background-color: transparent;
        border: none;
}

#status {
        color: #FFFFFF;
        font-size: 27pt;
        font-weight: bold;
        background-color: red;
        border: 1px solid #FFFFFF;
}

#blank {
        background-color: transparent;
        border: none;
}

#date {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 27pt;
        background-color: transparent;
        border: none;
}
#time {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 50pt;
        background-color: transparent;
        border: none;
}

#watchtime {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 80pt;
        background-color: transparent;
        border: none;
}

#info th {
		height: 70px;
        color: #FFFFFF;
        font-size: 23px;
        border: none;
        font-family: sans-serif;
        padding-right: 0pt;
}

#info td {
        color: #FFFFFF;
        font-size: 21pt;
        font-weight: bold;
        border: none;
        font-family: sans-serif;
        text-align: center;
        padding-right: 30pt;
        padding-left: 30pt;
}

#raceRecord500 {
        border: 1pt solid #FFFFFF;
}

#raceRecord1000 {
        border: 1pt solid #FFFFFF;
}

#raceRecord1500 {
        border: 1pt solid #FFFFFF;
}

#raceRecord2000 {
        border: 1pt solid #FFFFFF;
}

#rankArea {
        border: 1pt solid #FFFFFF;
}

#raceRecord500 th {
        color: #FFFFFF;
        font-size: 22pt;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        text-align: right;
}

#raceRecord500 td {
        color: #FFFFFF;
        font-size: 20pt;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#raceRecord1000 th {
        color: #FFFFFF;
        font-size: 22pt;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#raceRecord1000 td {
        color: #FFFFFF;
        font-size: 20pt;
        font-family: sans-serif;
        border: none;
        text-align: left;
}

#raceRecord1500 th {
        color: #FFFFFF;
        font-size: 22pt;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#raceRecord1500 td {
        color: #FFFFFF;
        font-size: 20pt;
        font-family: sans-serif;
        border: none;
        text-align: left;
}

#raceRecord2000 th {
        color: #FFFFFF;
        font-size: 22pt;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#raceRecord2000 td {
        color: #FFFFFF;
        font-size: 20pt;
        font-family: sans-serif;
        border: none;
        text-align: left;
}

#rankArea th {
        color: #FFFFFF;
        font-size: 22pt;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#rankArea td {
        color: #FFFFFF;
        font-size: 20pt;
        font-family: sans-serif;
        border: none;
        text-align: center;
}

#complete {
        background: radial-gradient(circle, #77ef73, #06c100);
        border: 0.01 solid #267223;
        font-size: 20pt;
        font-color: red;
        box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

.rowingBtn {
	font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    background-color: #00ff65;
    text-align: center;
    cursor: pointer;
}
.rowingBtn:hover{
	background-color: #ff6400;
}


